.game-status {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
  padding: 1em;
  margin: 1em
}

.player {
  display: flex;
  flex: 1 1 auto;
}

.score {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  font-size: 2em;
}

.vertical {
  flex-direction: row;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.horizontal {
  flex-direction: column;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.active {
  text-decoration: underline
}
